@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Continue working with <a href="/account/login">log in</a>.</p>
    <p>Or start working with <a href="/account/register">registration</a>.</p>
</div>